<%- include('header'); -%>

<h1><%= title %></h1>

<span class="msg"><%= msg %></span>
<span class="error"></span>


<a href="/">Back to Accounts Summary</a>

<script src="js/transfer.js"></script>

<%- include('footer'); -%>