<%- include('header'); -%>

<h1><%= title %></h1>

<span class="msg"><%= msg %></span>
<span class="error"></span>

<!-- 3.3 action and method-->
<form id="transferForm" action="/transfer" method="POST">
  <span>Transfer From: </span> 
  <!-- 3.3.1 name and id-->
  <select name="from" id="from" required>
    <option value="checking">Checking</option>
    <option value="savings">Savings</option>
  </select>
  <span> to: </span>
  <!-- 3.3.2 name and id-->
  <select name="to" id="to" required>
    <option value="checking">Checking</option>
    <option value="savings">Savings</option>
  </select>
  <input type="number" name="amount" id="amount" required placeholder="amount">
  <button type="submit">Transfer</button>
</form>

<br>

<a href="/">Back to Accounts Summary</a>

<script src="js/transfer.js"></script>

<%- include('footer'); -%>