body {
  font-family: Helvetica, Arial, sans-serif;
  width: 960px;
  margin: 0 auto;
}

th {
  text-align: left;
}

.transactions  {
  border-spacing: 2px;
  border-collapse: separate;
  width: 100%;
}

.transactions tr:nth-child(odd) {
  background-color: #CCCCCC;
}

.transactions td {
  padding: 5px 0 0 5px;
}

.right-aligned {
  margin-left: 750px;
}

.error {
  color: #FF0000;
}